<mat-card>
  <mat-card-title>
    <div class="toolbar">
      Liste des Étudiants
      <button mat-raised-button color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon> Ajouter
      </button>
    </div>
  </mat-card-title>

  <table mat-table [dataSource]="etudiants" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let etudiant"> {{ etudiant.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let etudiant">
        {{ etudiant.firstName }} {{ etudiant.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let etudiant"> {{ etudiant.email }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let etudiant">
        <button mat-icon-button color="primary" (click)="openEditDialog(etudiant)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="openDeleteDialog(etudiant)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'email', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'email', 'actions'];"></tr>
  </table>
</mat-card>
